body,
div,
img,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
dt,
blockquote,
fieldset,
legend,
label,
input,
textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway-Regular';
    font-size: 1rem;
    color: var(--textColor);
}

sh1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1em 0;
    font-family: 'Raleway-Regular';
    font-size: 1rem;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--pageColor);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
    padding-left: 25px;
}

.wrapper {
    min-height: auto;
    overflow: hidden;
}
.border {
    border: 1px solid #000;
}
/*  Helpers classes */

.img {
    max-width:100%;
    object-fit: cover;
}
.no_disp {
    display: none;
}
.test {
    border: 1px solid #f00;

}

/*  Margins  */
.mt50 {
    margin-top: 50px;
}
.mt40 {
    margin-top: 40px;
}
.mt30 {
    margin-top: 30px;
}
.mt20 {
    margin-top: 20px;
}
.mt10 {
    margin-top: 10px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.mr50 {
    margin-right: 50px;
}
.mr40 {
    margin-right: 40px;
}
.mr30 {
    margin-right: 30px;
}
.mr20 {
    margin-right: 20px;
}
.mr10 {
    margin-right: 10px;
}
.ml50 {
    margin-left: 50px;
}
.ml40 {
    margin-left: 40px;
}
.ml30 {
    margin-left: 30px;
}
.ml20 {
    margin-left: 20px;
}
.ml10 {
    margin-left: 10px;
}
.m20 {
    margin: 20px;
}
.m10 {
    margin: 10px;
}
.m5 {
    margin: 5px;
}
/* paddings */

.pt100 {
    padding-top: 100px;
}
.pt50 {
    padding-top: 50px;
}
.pt40 {
    padding-top: 40px;
}
.pt30 {
    padding-top: 30px;
}
.pt20 {
    padding-top: 20px;
}
.pt10 {
    padding-top: 10px;
}
.pr100 {
    padding-right: 100px;
} 
.pr50 {
    padding-right: 50px;
} 
.pr40 {
    padding-right: 40px;
} 
.pr30 {
    padding-right: 30px;
} 
.pr20 {
    padding-right: 20px;
} 
.pr10 {
    padding-right: 10px;
}
.pr5 {
    padding-right: 5px;
}
.pl100 {
    padding-left: 100px;
}
.pl50 {
    padding-left: 50px;
}
.pl40 {
    padding-left: 40px;
}
.pl30 {
    padding-left: 30px;
}
.pl20 {
    padding-left: 20px;
}
.pl10 {
    padding-left: 10px;
}
.pb50 {
    padding-bottom: 50px;
}
.pb40 {
    padding-bottom: 40px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb5 {
    padding-bottom: 5px;
}
.p20 {
    padding: 20px;
}
.p10 {
    padding: 10px;
}
.p5 {
    padding: 5px;
}

/* Aligment  */

.centerText {
    text-align: center;
}
.leftText {
    text-align: left;
}
.rightText {
    text-align: right;
}
.marginCenter {
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flexCenter {
    display: flex;
    justify-content: center;
}
.flexCenterCenter {
    justify-content: center;
    align-items: center;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexColumnReviers {
    display: flex;
    flex-direction: column-reverse;
}

/*   Widths   */

.w100 {
    width: 100%;
}
.w80 {
    width: 80%;
}
.w70 {
    width: 70%;
}
.w60 {
    width: 60%;
}
.w50 {
    width: 50%;
}
.w40 {
    width: 40%;
}
.w30 {
    width: 30%;
}
.w20 {
    width: 20%;
}
.w10 {
    width: 10%;
}

