@font-face {
    font-family: 'Raleway-Regular';
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url("../fonts/Raleway-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

