:root {
    --pageColor: #F5F5F5;
    --white: #ffffff;
    --textColor: #333333;
    --smallTextColor: #717171;
    --blue: #F3F8FF;
    --accentColor: #F33846;
    --lineColor: #E1E1E1;
    --blueDarck: #72B2DF;
}


h2 {
    font-family: 'Raleway-SemiBold';
    font-size: 32px;
    line-height: 38px;

}

.wrapper {
    width: 1920px;
    margin: 0 auto;

    background-color: var(--white);
}

.container {
    max-width: 1470px;
    margin: 0 auto;
}

/* Start header */

.header {
    height: 160px;
}

.header-first_line {
    height: 56px;
}

.header-second_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 104px;
    border-top: 1px solid var(--lineColor);

}

.h-first-line {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    gap: 45px;

}

.header-city {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 3px;
    gap: 8px;

    border-bottom: 1px dashed var(--textColor);
}

/* !! */
/* Основной контейнер */
.header-city {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

/* Обертка для селекта */
.select-wrapper {
    position: relative;
    display: inline-block;
    min-width: 142px;
}

/* Сам селект */
.city-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;

    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white);
    border: 0;
    cursor: pointer;
}

/* При наведении */
.city-select:hover {
    border-color: #888;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


/* Кастомная стрелка */
.custom-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
    width: 16px;
    height: 16px;
}

.custom-arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

/* Анимация стрелки при открытии (опционально) */
.city-select:focus~.custom-arrow img {
    transform: rotate(180deg);
}

/* Стилизация опций (работает не во всех браузерах) */
.city-select option {
    padding: 10px;
    font-size: 15px;
    background-color: white;
    color: #333;
}

/* Для иконки города */
.city-ico {
    display: flex;
    align-items: center;
}

.city-ico img {
    width: 20px;
    height: 20px;
}

/* End !! */
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    list-style: none;

    width: 644px;
    height: 18px;
}

.nav-item {
    font-size: 14px;
    line-height: 16px;

    color: var(--textColor);

    & a:hover {
        color: var(--accentColor);
    }
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.company-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
}

.messagers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cont-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;

    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 16px;

}

.cont-phone {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 26px;

    cursor: pointer;
}

/* Start modal contact */

.contact-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    position: absolute;
    width: 295px;
    left: 10px;
    top: 30px;

    background: var(--white);
    border-radius: 20px;
    border: 1px solid var(--lineColor);
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}


.contact-header {
    font-size: 14px;
    line-height: 16px;
    color: var(--smallTextColor);
}


.contact-phone-number {
    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 19px;
}

.line-contact {
    width: 255px;
    border: 1px solid var(--lineColor);
}

.contact-adresses {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 16px;
}

.contact-soc {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* End modal contact */

.phone {
    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 19px;
}

.call-back {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 4px;
    gap: 10px;
    border-bottom: 1px dashed var(--textColor);
}

.h-second-line {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    box-sizing: border-box;
    width: 274px;
    height: 64px;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-family: 'Raleway-SemiBold';
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
}



.cat-products {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 194px;
    height: 48px;

    background: var(--accentColor);
    border-radius: 100px;

    font-family: 'Raleway-Bold';

    font-size: 14px;

    color: var(--white);
    cursor: pointer;
}

/* Start modal catalog */

.modal-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 40px;
    gap: 40px 30px;

    position: absolute;
    width: 1550px;
    height: 560px;
    left: -290px;
    top: 60px;

    background: var(--white);
    box-shadow: 0px 10px 40px rgba(75, 75, 75, 0.1);
    border-radius: 20px;

}

.modal-catalog-item {
    width: 270px;
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.modal-catalog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 2px;
}

.maodal-catalog-header {
    font-family: 'Raleway-SemiBold';
    font-size: 16px;
    line-height: 21px;
}

.modal-catalog-quantity {
    font-size: 14px;
    line-height: 20px;
    color: var(--smallTextColor);
}

/* End modal catalog */


.search-feild {
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;

    width: 657px;
    height: 48px;

    border: 1px solid #E1E1E1;
    border-radius: 100px;
    background: url('../images/svg/ico-search.svg') no-repeat right 24px center;

}

.auterization,
.favorite,
.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
}

.enter-text,
.favoroite-text,
.basket-text {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: var(--smallTextColor);
}

/* End header */

/* Start Body */

/* Start slyder and bunners */

.main-bunners {
    display: flex;
    gap: 30px;
}

.main-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 40px 40px 60px;
    width: 970px;
    height: 540px;

    background: url('../images/main-slider.jpg') no-repeat;
    border-radius: 20px;
}

.slider-header {
    font-family: 'Raleway-SemiBold';
    font-size: 48px;
    line-height: 120%;
}

.slider-h2 {
    padding-top: 16px;
    font-family: 'Raleway-Medium';
    font-size: 24px;
    line-height: 140%;
}

.list-materials {
    margin-bottom: 50px;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.list-materials_item {
    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
}

.slider-arrows {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;

    width: 100%;
    height: 50px;
}

.slider-arrow-left {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--white);
    background-image: url('../images/svg/ico-left-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.slider-arrow-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--white);
    background-image: url('../images/svg/ico-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

/* Butttons */

.button-red {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;

    background: var(--accentColor);
    border-radius: 100px;

    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 19px;
    color: var(--white);

    cursor: pointer;

    &:hover {
        background: var(--textColor);
    }
}

.button-grey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;

    background: var(--textColor);
    border-radius: 100px;

    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 19px;
    color: var(--white);

    cursor: pointer;

    &:hover {
        background: var(--accentColor);
    }
}


/* End Buttons */

.other-service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 470px;
    height: 540px;
}

.bun1,
.bun2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;

    width: 470px;
    height: 265px;
    border-radius: 20px;
}

.bun1 {
    background: url('../images/additional-bun-1.jpg') no-repeat;
}

.bun2 {
    background: url('../images/additional-bun-2.jpg') no-repeat;
}

.bun-header {
    font-family: 'Raleway-SemiBold';
    font-size: 32px;
    line-height: 120%;
    color: var(--white);
}

/* End slider */

/* Start advantages */

.advantages {
    display: flex;
    align-items: center;
    gap: 30px;

    height: 164px;
}

.advanteges-item {
    display: flex;
    align-items: center;
    gap: 16px;

    width: 345px;
    height: 44px;
}

.ico-advanteges {}

.advantages-text {
    font-family: 'Raleway-Medium';
    font-size: 16px;
    line-height: 140%;
}

/* End advantages */

/* Start cataloog */

.products-catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 60px;
    gap: 30px;
}

.header-h2 {
    display: flex;
    justify-content: start;
    align-items: center;

    --arrow-size: 30px;
    --spacing: 20px;

    background: url('../images/svg/ico-arrow-h2.svg') no-repeat right var(--spacing) center;
    padding-right: calc(var(--arrow-size) + var(--spacing) * 2);

}

.header-h2>a>h2 {
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
}

.catalog-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0px;
    gap: 30px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 6px;

    width: 270px;
    height: 320px;

    border-radius: 20px;
}

.cat-card-header {
    margin-bottom: 6px;

    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    line-height: 140%;
}

.arrow-cat {
    text-align: end;
}

/* Start Catalog pikchers */

.cat-esmola {
    background: url('../images/cat-esmola.jpg') no-repeat;
}

.cat-polismola {
    background: url('../images/cat-polismola.jpg') no-repeat;
}

.cat-armmat {
    background: url('../images/cat-arm-mat.jpg') no-repeat;
}

.cat-silikon {
    background: url('../images/cat-silikon.jpg') no-repeat;
}

.cat-silikon-oil {
    background: url('../images/cat-siliKon-oil.jpg') no-repeat;
}

.cat-plastic {
    background: url('../images/cat-plastics.jpg') no-repeat;
}

.cat-glue {
    background: url('../images/cat-glue.jpg') no-repeat;
}

.cat-germetic {
    background: url('../images/cat-germetic.jpg') no-repeat;
}

.cat-gidro {
    background: url('../images/cat-gidro.jpg') no-repeat;
}

.cat-lkm {
    background: url('../images/cat-lkm.jpg') no-repeat;
}

.cat-solvents {
    background: url('../images/cat-solvents.jpg') no-repeat;
}

.cat-gips {
    background: url('../images/cat-gips.jpg') no-repeat;
}

.cat-forms {
    background: url('../images/cat-forms.jpg') no-repeat;
}

.cat-dyes {
    background: url('../images/cat-dyes.jpg') no-repeat;
}

.cat-add-beton {
    background: url('../images/cat-add-beton.jpg') no-repeat;
}

.cat-topping {
    background: url('../images/cat-topping.jpg') no-repeat;
}

.cat-fake-grass {
    background: url('../images/cat-fake-grass.jpg') no-repeat;
}

.cat-lubricants {
    background: url('../images/cat-lubricants.jpg') no-repeat;
}

.cat-equipment {
    background: url('../images/cat-equipment.jpg') no-repeat;
}

.cat-boxes-for-opori {
    background: url('../images/cat-boxes-for-opori.jpg') no-repeat;
}

.cat-marble-chips {
    background: url('../images/cat-marble-chips.jpg') no-repeat;
}

.cat-quartz-sands {
    background: url('../images/cat-quartz-sands.jpg') no-repeat;
}

.cat-dry-mixes {
    background: url('../images/cat-dry-mixes.jpg') no-repeat;
}

.cat-technical-fluids {
    background: url('../images/cat-technical-fluids.jpg') no-repeat;
}

.cat-white-cement {
    background: url('../images/cat-white-cement.jpg') no-repeat;
}




/* End Catalog Pikchers */

/* Start Best offers */

.best-offers {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 60px;
    gap: 30px;
}

.best-offers-sort {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.best-offers-sort_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;

    background: var(--blue);
    border-radius: 100px;
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    line-height: 120%;

}

.active-offers {
    background: var(--textColor);
    color: var(--white);
}

.best-offers-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: 30px;
}

.best-offers-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;

    width: 345px;
    height: 565px;

    border: 1px solid var(--lineColor);
    border-radius: 20px;
}

.offers-image {
    width: 313px;
    height: 300px;
}

.product-labaels {
    position: absolute;
    left: 26px;
    top: 26px;

    display: flex;
    gap: 6px;
}

.product-labels__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    gap: 10px;

    background: var(--blueDarck);
    border-radius: 100px;

    font-family: 'Raleway-Bold';
    font-size: 12px;
    line-height: 140%;
    color: var(--white)
}

.offer-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.offers-text {
    padding-top: 12px;

    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 140%;
}

.offer-price {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.offer-price-now {
    font-family: 'Raleway-Bold';
    font-size: 18px;
    line-height: 140%;
}

.offer-price-old {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: var(--smallTextColor);
}

.offer-price-discont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;

    width: 37px;
    height: 21px;

    background: var(--textColor);
    border-radius: 4px;

    font-family: 'Raleway-Bold';
    font-size: 12px;
    line-height: 140%;
    color: var(--white);
}

.packaging-options,
.offer-color-optoins {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pack-options,
.color-options-items {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.pack-options-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;

    border: 1px solid var(--lineColor);
    border-radius: 6px;

    font-family: 'Raleway-SemiBold';
    font-size: 14px;
    line-height: 140%;
}


.pack-header,
.color-options-header {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 140%;
    color: var(--smallTextColor);
}

.color-options-item {
    width: 38px;
    height: 28px;
    border-radius: 6px;

    cursor: pointer;
}

.paint-red {
    background-color: #FF0000;
}

.paint-yellow {
    background-color: #D9FF00;
}

.paint-blue {
    background-color: #0900FF;
}

.paint-light-blue {
    background-color: #00E5FF;
}


.offer-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-to-favorite {
    cursor: pointer;
}


/* End Best offers */

/* Start stocks */

.stocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 60px;
    gap: 30px;
}

.stocks-items {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 30px;

}

.stoks-item {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;

    width: 345px;
    height: 270px;
}

.stock-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;

    width: 345px;
    height: 325px;

    background: #D9D9D9;
    border-radius: 20px;

}

.time-to-end-stock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;

    background: var(--textColor);
    border-radius: 100px;

    font-family: 'Raleway-Bold';
    font-size: 12px;
    line-height: 140%;
    color: var(--white);
}

.stock-text {
    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    line-height: 140%;
    text-align: center;
}

/* End stocks */

/* Start Rutube Video */

.rutube-video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 60px;
    gap: 30px;
}

.rutube-videos {
    display: flex;
    align-items: center;
    gap: 30px;

}

.video-item-inner {
    margin-bottom: 10px;
    width: 345px;
    height: 194px;
    background: url('../images/rutube-bg.jpg') no-repeat;
}

.video-text {
    font-family: 'Raleway-SemiBold';
    font-size: 16px;
    line-height: 140%;
}

/* End Rutube Video */

/* Start Bred crambs */

.bread-crumbs {
    display: flex;
    align-items: center;
    padding: 20px 0px 40px;
    gap: 10px;
}

.bread-crumbs-item {
    font-family: 'Raleway-Medium';
    font-size: 12px;
    line-height: 14px;
    color: var(--smallTextColor);
}

/* End Bread crumbs */

/* End body */

/* Start Footer */

.footer {
    height: 986px;
    background: var(--textColor);
}

.footer-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0 40px;
    gap: 60px;
}

.map {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 1470px;
    height: 495px;
    border-radius: 20px;
}

.footer-links {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.footer-links-logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    height: 188px;

}

.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    margin: 0 auto;
    width: 274px;
    height: 64px;
}

.map-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 16px;

    margin: 0 auto;
    width: 247px;
    height: 54px;
}


.logo-text-footer {
    font-family: 'Raleway-SemiBold';
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;

    color: var(--white);
}

.map-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 3px;
    gap: 8px;
    border-bottom: 1px dashed var(--accentColor);

}

.tag-text {
    font-family: 'Raleway-Bold';
    font-size: 14px;
    line-height: 16px;
    color: var(--accentColor);
}

.footer-nav-link {
    list-style: none;

}

.nav-link {
    margin-bottom: 18px;
    color: var(--white);
    font-family: 'Raleway-SemiBold';

    font-size: 14px;
    line-height: 120%;
}

.footer-links-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
}

.item-link {
    font-family: 'Raleway-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}

.stock-footer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.callback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 157px;
    height: 43px;

    border: 1px solid var(--white);
    border-radius: 100px;


    font-family: 'Raleway-Medium';
    font-size: 13px;
    line-height: 15px;
    color: var(--white);

    cursor: pointer;
}

.footer-differents-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.footer-differents-links-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dif-link-text {
    padding: 0px 0px 2px;

    font-size: 14px;
    line-height: 16px;
    color: var(--white);

    border-bottom: 1px dashed var(--white);
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    height: 103px;

    border-radius: 20px;
    background: var(--accentColor);

    font-family: 'Raleway-SemiBold';
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--white);
}

/* End Footer */


/* Strat others pages */

/* Strat category page */

.category-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0 60px;
    gap: 30px;

}

.subcategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 12px;
}

.subcategories-item {
    display: flex;
    align-items: center;
    padding: 14px;
    gap: 20px;

    width: 358px;
    height: 96px;

    background: var(--blue);
    border-radius: 20px;
}

.subcategories-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
}

.subcategories-header {
    font-family: 'Raleway-SemiBold';
    font-size: 16px;
    line-height: 21ox;
}

.subcategories-quantity {
    font-size: 14px;
    line-height: 20px;
    color: var(--smallTextColor);
}


.category-page-products {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

/* Start category-products-filters */
.category-products-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 54px 0px 0px;
    width: 270px;
}

.category-products-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 20px;
    gap: 16px;
    width: 100%;

    border-top: 1px solid var(--lineColor);
}

.products-filter-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    gap: 10px;
    width: 270px;
}

.category-products-filter-text {
    font-family: 'Raleway-SemiBold';
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.category-products-filter-arrow {
    cursor: pointer;
}

.products-filter-base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.filter-base-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}

/* End category-products-filters */
/* Start products */


/* Start Sort by */

.products-sort-by {
    position: relative;
    margin-left: auto;
}
.products-sort-header {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
    gap: 8px;

    width: 180px;
    height: 34px;
    border: 1px solid var(--lineColor);
    border-radius: 6px;

    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 18px;
}

.sort-options {
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    background: var(--white);
    border: 1px solid var(--lineColor);
    border-top: none;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    z-index: 1000;
}


/* End Sort by */


.category-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1170px;

}

.category-products-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1170px;

}

.category-products-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;

    width: 270px;
    height: 545px;

    border: 1px solid var(--lineColor);
    border-radius: 20px;
}

.category-products-image {
    width: 238px;
    height: 228px;
}

.category-products-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    margin: 0 auto;
}

.category-products-text {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 20px;
}

.category-product-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 34px;
}

.category-product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.category-product-price-old {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: var(--smallTextColor);
}

.category-product-price-now {
    font-family: 'Raleway-Bold';
    font-size: 18px;
    line-height: 25px;
}

.category-product-price-discont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    gap: 10px;
    width: 37px;
    height: 21px;

    background: var(--textColor);
    border-radius: 4px;

    font-family: 'Raleway-Bold';
    font-size: 12px;
    line-height: 17px;
    color: var(--white);
}

.category-product-packing-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

}

.category-product-packing-header {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 20px;
    color: var(--smallTextColor);
}

.category-product-packing-options-items {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.category-product-packing-options-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;

    border: 1px solid var(--lineColor);
    border-radius: 6px;

    font-family: 'Raleway-SemiBold';
    font-size: 12px;
    line-height: 17px;

    cursor: pointer;
}

.category-product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

/* End products */

/* End category page */





.hidden {
    display: none;
}