:root {
    --pageColor: #F5F5F5;
    --white: #ffffff;
    --textColor: #333333;
    --smallTextColor: #717171;
    --blue: #F3F8FF;
    --accentColor: #F33846;
    --lineColor: #E1E1E1;
}

h2 {
    --arrow-size: 30px;
    --spacing: 20px;

    font-family: 'Raleway-SemiBold';
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;

    background: url('/images/svg/ico-arrow-h2.svg') no-repeat right var(--spacing) center;
    padding-right: calc(var(--arrow-size) + var(--spacing) * 2);
}

.wrapper {
    width: 1920px;
    margin: 0 auto;

    background-color: var(--white);
}

.container {
    max-width: 1470px;
    margin: 0 auto;
}

/* Start header */

.header {
    height: 160px;
}

.header-first_line {
    height: 56px;
}

.header-second_line {
    height: 104px;
    border-top: 1px solid var(--lineColor);
}

.h-first-line {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    gap: 51.5px;

}

.header-city {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 3px;
    gap: 8px;

    border-bottom: 1px dashed var(--textColor);
}

.city-name {
    font-family: "Raleway-Bold";
    line-height: 19px;

    color: var(--accentColor);
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    list-style: none;

    width: 644px;
    height: 18px;
}

.nav-item {
    font-size: 14px;
    line-height: 16px;

    color: var(--textColor);

    & a:hover {
        color: var(--accentColor);
    }
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.company-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
}

.messagers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cont-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;

    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 16px;

}

.cont-phone {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 26px;
}

.phone {
    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 19px;
}

.call-back {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 4px;
    gap: 10px;
    border-bottom: 1px dashed var(--textColor);
}

.h-second-line {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    height: 104px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-family: 'Raleway-SemiBold';
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
}

.logo {
    width: 255px;
}

.cat-products {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 194px;
    height: 48px;

    background: #F33846;
    border-radius: 100px;

    font-family: 'Raleway-Bold';

    font-size: 14px;

    color: var(--white);
    cursor: pointer;
}

.search-feild {
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;

    width: 657px;
    height: 48px;

    border: 1px solid #E1E1E1;
    border-radius: 100px;
    background: url('/images/svg/ico-search.svg') no-repeat right 24px center;

}

.auterization,
.favorite,
.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
}

.enter-text,
.favoroite-text,
.basket-text {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: var(--smallTextColor);
}

/* End header */

/* Start Body */

/* Start slyder and bunners */

.main-bunners {
    display: flex;
    gap: 30px;
}

.main-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 40px 40px 60px;
    width: 970px;
    height: 540px;

    background: url('/images/main-slider.jpg') no-repeat;
    border-radius: 20px;
}

.slider-header {
    font-family: 'Raleway-SemiBold';
    font-size: 48px;
    line-height: 120%;
}

.slider-h2 {
    padding-top: 16px;
    font-family: 'Raleway-Medium';
    font-size: 24px;
    line-height: 140%;
}

.list-materials {
    margin-bottom: 50px;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.list-materials_item {
    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
}

.slider-arrows {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;

    width: 100%;
    height: 50px;
}

.slider-arrow-left {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--white);
    background-image: url('/images/svg/ico-left-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.slider-arrow-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--white);
    background-image: url('/images/svg/ico-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

/* Butttons */

.button-red {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;

    background: var(--accentColor);
    border-radius: 100px;

    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 19px;
    color: var(--white);

    cursor: pointer;

    &:hover {
        background: var(--textColor);
    }
}

.button-grey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;

    background: var(--textColor);
    border-radius: 100px;

    font-family: 'Raleway-Bold';
    font-size: 16px;
    line-height: 19px;
    color: var(--white);

    cursor: pointer;

    &:hover {
        background: var(--accentColor);
    }
}


/* End Buttons */

.other-service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 470px;
    height: 540px;
}

.bun1,
.bun2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;

    width: 470px;
    height: 265px;
    border-radius: 20px;
}

.bun1 {
    background: url('/images/additional-bun-1.jpg') no-repeat;
}

.bun2 {
    background: url('/images/additional-bun-2.jpg') no-repeat;
}

.bun-header {
    font-family: 'Raleway-SemiBold';
    font-size: 32px;
    line-height: 120%;
    color: var(--white);
}

/* End slider */

/* Start advantages */

.advantages {
    display: flex;
    align-items: center;
    gap: 30px;

    height: 164px;
}

.advanteges-item {
    display: flex;
    align-items: center;
    gap: 16px;

    width: 345px;
    height: 44px;
}

.ico-advanteges {}

.advantages-text {
    font-family: 'Raleway-Medium';
    font-size: 16px;
    line-height: 140%;
}

/* End advantages */

/* Start cataloog */

.header-h2 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.catalog-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0px;
    gap: 30px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 6px;

    width: 270px;
    height: 320px;

    border-radius: 20px;
}

.cat-card-header {
    margin-bottom: 6px;

    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    line-height: 140%;
}

.arrow-cat {
    text-align: end;
}
.cat-esmola {
    background: url('/images/cat-esmola.jpg') no-repeat;
}

.cat-polismola {
    background: url('/images/cat-polismola.jpg') no-repeat;
}

.cat-armmat {
    background: url('/images/cat-arm-mat.jpg') no-repeat;
}
.cat-silikon {
    background: url('/images/cat-silikon.jpg') no-repeat;
}
.cat-silikon-oil {
    background: url('/images/cat-siliKon-oil.jpg') no-repeat;
}
.cat-plastic {
    background: url('/images/cat-plastics.jpg') no-repeat;
}
.cat-glue {
    background: url('/images/cat-glue.jpg') no-repeat;
}
.cat-germetic {
    background: url('/images/cat-germetic.jpg') no-repeat;
}
.cat-gidro {
    background: url('/images/cat-gidro.jpg') no-repeat;
}
.cat-lkm {
    background: url('/images/cat-lkm.jpg') no-repeat;
}

/* End Catalog */


